div.container {
    margin-top: 1rem;
}

#response_text {
    padding-top: 1rem;
}

#address {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

#status-panel {
    padding: 1rem;
}

#faucet-footer {

font-size: 0.75rem;
padding: 1rem;

}
